.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* background-color: #282f43; */
  background-image: url("/background.jpg");
  background-size: cover;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 11pt;
  max-width: var(--max-width);
  width: 100%;
  z-index: 1;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11pt;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24pt;
  color: #e2edaf;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

/* Conic Gradient Animation */


/* Inner Square */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}


@media (max-width: 500px) {
  .main {
    padding: 2rem;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .description {
    font-size: 5pt;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 1rem;
  }

  .description p {
    font-size: 10pt;
  }

  .logo {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  /* border: solid 2pt #363630; */
  /* background-color: #613F75; */
  background-color: #f5a5a5;
  border-radius: 8pt;

}

.day {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  margin-bottom: 1rem;
  padding: 5pt;
  color: #2b3a58;
  background-color: #e2edaf;
  width: 100%;
  border-radius: 4.5pt;
}

.temp {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 21pt;
  color: #dd1b4c;
}

.weatherIcon {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  width: 32rem;
  height: 100%;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .logo {
    width: 100%;
  }
}